*
{ 
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}
header
{
    background-image:url('../Images Folder/pic2.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.row-link
{
    flex: 1;
    text-align: right;
   
}
.row-link ul li 
{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.row-link ul li a
{
    color:ivory;
    text-decoration: none;
    font-size: 18px;
}
.row-link ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5sc;
}
.row-link ul li:hover::after{
    width: 100%;
}


.text-box{
width: 90%;
color: wheat;
position: absolute;
top: 60%;
left: 50%;
transform: translate(-50%,-50%);
text-align: center;
padding-top: 30%;
}
.text-box h1{
    font-size: 52px;
}

.hero-btn{
   position: absolute;
   top: 80%;
left: 50%;
transform: translate(-50%,-50%);
color:wheat;
 border: 1px solid wheat; 
 font-size: 16px;
 background: transparent;
 cursor: pointer;
 text-decoration: none;
 padding: 12px 34px;
 
 display: inline-block;

}

.hero-btn:hover{
    border: 1px solid #ef392c;
    background: #ef392c;
    transition: 1s;
    
}




