*{
    padding: 0px;
    margin: 0px;
}
body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: scroll;

}

.header{
    width: 100%;
    height: 30px;
background-color: black;
color:yellow;
}
 

  .gg a{
    float: left;
    text-decoration: none;
    color: orange;
    font-size: 24px;
}
.gh a{
    float: right;
    text-decoration: none;
    color: orangered;
    font-size: 24px;
    margin-right: 3%;
}



.header h4{
    text-align: center;
}

 #div2{
   background-color: white;
    width:200px;
    height: 240px;
    float: right;
   
    
}
    #div2 img{
        height: 58%;
    width: 70%;
    margin-right: 60%;
    object-fit: cover;
    border-left: 3px solid black;

    }
    
 

   
   

    
    

#div1{
    background-color: white;   
    width: 200px; 
    height: 190px;
    float: left;
}
#div1 img{
    height: 68%;
    width: 100%;
    margin-left: 20%;
    object-fit: cover;
    border-right: 2px solid;
}
#div3{
    background-color: white;   
    
    width: 53.33%; 
    height: 120px;
    margin: 20px auto;
    text-align: center;
}

#div6{
width: 105%;
height: 70%;
margin-top: 0;
display: flex;

}
#div6 img{
    
    height: 550px;
    width: 100%;
  position: absolute;
   bottom: 10;
   object-fit: cover;
   }

 .k{
    border: 1px dotted;
    width: 10%;
    height: 5%;
    margin-left: 50%;
    margin-bottom: 105;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 30px;
    color: cadetblue;
    font-family: 'Times New Roman', Times, serif;
 }


 .one{
    background-color:darkkhaki;
    width: 50%;
    float: left;
    margin-bottom: 50px;
    height: 280px;
    margin-left: 10.6px;
   bottom: 110px;
    position: relative;
    text-align: center;
    font-size: 20px;
    font-family: Comic Sans Ms;
    
 }
.b{
   text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
 
  
.two{
    background-color:darkgray;
    width: 21.3%;
    float: right;
    height: 280px;
    margin-bottom: 12px;
    top: -14%;
position: relative;
margin-right: 6%;
text-align: center;
font-family: Comic Sans Ms;
font-size: 20px;
    }

    .r{
        font-size: 30px;
        font-family: 'Times New Roman', Times, serif;
    }

    .three{
    background-color: green;
    width: 21%;
    float: left;
    margin-bottom: 40px;
    height: 280px;
    margin-left: 1%;
    bottom: 14%;
    position:relative;   
    text-align: center;
    font-size: 20px;
    font-family: Comic Sans Ms;
}
.c{
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}


.four{
    background-color:cornflowerblue;
    width: 20%;
    float: right;
    margin-bottom: 30px;
    height: 510px;
    float: left;
    margin-right: 80%;
    margin-left: 60px;
    bottom: 160px;
    position: relative;
    text-align: center;
    font-family: Comic Sans Ms;
    font-size: 20px;
}
.f{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}




.five{
    width: 60%;
    float: right;
    height: 60.9%;
    position: relative;
    background-color: gold;
    bottom: 92.9%;
    margin-right: 10%;
    border: 3px dotted;
}
.five img{
    object-fit: cover;
    width: 50%;
    height: 60%;
}
.w img{
    width: 99.6%;
    height: 179px;
}
.v img{
    width: 49.3%;
}
.footer{
    width: 100%;
    height: 100px;
    background-color: black;
    color: wheat;
   top:90%;
}