nav ul{
    list-style: none;
    background-color: skyblue;
}
ul li{
    display: inline-block;
    position: relative;
}
ul li a{
    display: block;
    padding: 20px 25px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
}
ul li ul.drop{
    width: 100%;
    background: #22438C;
    position: absolute;
    z-index: 999;
    display: none;
}
ul li a:hover{
    background: blueviolet;
}
ul li:hover ul.drop{
    display: block;
}
.v{
    
    text-align: center;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    height: 10%;
    width: 20%;
    margin-left: 38%;
    color:tan;
    text-decoration: underline;
}
.vi{
    text-align: center;
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
    height: 5%;
    width: 20%;
    margin-left: 39.5%;
    color:steelblue;
    text-decoration: underline;
    
    bottom: 7%;
}

#history{
    margin-left: 7%;
    text-decoration: underline;
    text-underline-position: below;
    font-size: 25px;
}

.imgs{
    width: 270px;
    height: 50%;
    margin-top: 14px;
    float: left;
    margin-left: 18px;
    border: 5px solid seagreen;
    border-radius: 10px;
}
.txt{
    
    margin-left: 22%;
    font-size: 17px;
    font-family: Comic Sans Ms;
    text-align: justify;
}
#facts{
    padding-top: 5%;
    margin-left: 14%;
    display: flex;
   
}
.imgs3{
    float: right;
    width: 470px;
    height: 40%;
    margin-right: 10%;
    border: 5px solid seagreen;
    border-radius: 10px;
    margin-bottom: 10px;

}
.txt2{
    font-size: 17px;
    font-family: Comic Sans Ms;
}
.footer{
    width: 100%;
    height: 50px;
    background: black;
    color: aliceblue;
}
.footer p{
    color: yellow;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
